.modal-call {
	display: none;
	padding: 0;
	// max-width: 530px;
	// width: 100%;
	// padding: 95px 0px 76px 0px;
	// @media (max-width: 420px) {
	// 	padding-top: 80px;
	// 	padding-bottom: 60px;
	// }
	// .modal-call__close
	&__close {
	}
	// .modal-call__container
	&__container {
		display: flex;
		// max-width: 410px;
		// margin: 0 auto;
		// padding: 0 20px;
	}
	&__img {
		width: 190px;
		background-image: url(../img/bg-benefits.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		@media (max-width: 589px) {
			display: none;
		}
	}
	&__form {
		padding: 35px 30px;
		text-align: center;
		max-width: 360px;
		width: 100%;
	}
	// .modal-call__title
	&__title {
		font-size: 24px;
		line-height: 26px;
		margin-bottom: 12px;
		letter-spacing: -0.03em;
		font-weight: bold;
		font-family: "Montserrat", sans-serif;
		text-align: left;
		color: #333;
	}
	&__subtitle {
		line-height: 16px;
		font-size: 14px;
		letter-spacing: -0.03em;
		color: #616161;
		margin-bottom: 34px;
		max-width: 100%;
		text-align: left;
	}
	// .modal-call__privacy
	&__privacy {
		text-align: left;
		padding-top: 5px;
		padding-bottom: 5px;
		color: #9c9c9c;
		font-size: 11px;
		line-height: 11px;
		letter-spacing: -0.1px;
		padding-left: 27px;
		background-image: url(../img/politica.png);
		background-size: 20px 21px;
		background-position: 0 50%;
		background-repeat: no-repeat;
		@media (max-width: 374px) {
			font-size: 10px;
		}
		span {
			position: relative;
			text-decoration: underline;
			cursor: pointer;
			&:hover {
				text-decoration: none;
			}
		}
	}

	.wpcf7 {
		margin-bottom: 30px;
		@media (max-width: 420px) {
			margin-bottom: 15px;
		}
	}

	.wpcf7-form {
		display: flex;
		flex-direction: column;
	}
	.wpcf7-form-control-wrap {
		margin-bottom: 8px;
		input {
			width: 100%;
			height: 53px;
			padding: 18px 20px;
			font-size: 14px;
			background-color: rgba(255, 255, 255, 0.4);
			border: 1px solid #a7a6a6;
			color: #333;
			&:focus {
				border-radius: 4px;
				border: 2px solid #e39b44;
			}
		}
	}

	.wpcf7-submit {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px 15px;
		min-height: 53px;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: -0.42px;
		line-height: 13px;
		text-align: center;
		border: 1px solid #d74f4b;
		color: #ffffff;
		background-color: #a82420;
		transition: background-color 0.3s;
		text-transform: uppercase;
		&:hover {
			background-color: #d74f4b;
		}
		&:focus {
			border-radius: 4px;
			border: 2px solid #e39b44;
		}
	}

	.wpcf7-form-control {
	}
}

.close-modal {
	position: absolute;
	width: 45px;
	height: 45px;
	padding: 10px;
	top: 0px;
	right: 0px;
	background: transparent;
	cursor: pointer;
	&:hover {
		svg path {
			fill: #d74f4b;
		}
	}

	svg {
		width: 100%;
		height: 100%;
		path {
			transition: 0.3s;
		}
	}
}
