.choose {
	padding-top: 100px;
	padding-bottom: 167px;
	background: #f8f8f8;
	@media (max-width: 993px) {
		@include adaptiv(padding-bottom, 167, 50, 993, 320);
		@include adaptiv(padding-top, 100, 50, 993, 320);
	}
	// .choose__container
	&__container {
	}
	// .choose__top
	&__top {
		margin-bottom: 64px;
		@media (max-width: 576px) {
			margin-bottom: 44px;
		}
		@media (max-width: 420px) {
			margin-bottom: 35px;
		}
	}
	&__main {
		margin-bottom: 93px;
		@media (max-width: 993px) {
			@include adaptiv(margin-bottom, 93, 40, 993, 320);
		}
	}
	// .choose__title
	&__title {
		margin-bottom: 15px;
		font-weight: 700;
		font-size: 18px;
		line-height: lh(21, 18);
		text-transform: uppercase;
		color: #000000;
		@media (max-width: 993px) {
			@include adaptiv(font-size, 18, 15, 993, 320);
		}
	}
	// .choose__slider-wrapper
	&__slider-wrapper {
		margin-right: calc((100vw - 100%) / -2);
		margin-left: calc((100vw - 100%) / -2);
		margin-bottom: 29px;
	}
	// .choose__slider
	&__slider {
	}
	&__img {
		position: relative;
		padding-bottom: 69.7%;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			font-family: "object-fit: cover; object-position: center;";
		}
	}
	// .choose__bot
	&__bot {
	}
	// .choose__subtitle
	&__subtitle {
		margin-bottom: 70px;
		font-size: 16px;
		line-height: lh(18, 16);
		color: #616161;
	}
	// .choose__logos
	&__logos {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
		grid-column-gap: 20px;
		grid-row-gap: 20px;
		li {
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				max-height: 76px;
			}
		}
	}
}

.swiper-wrapper {
}
.swiper-slide {
}
