.choose {
	padding-top: 100px;
	padding-bottom: 167px;
	background: #f8f8f8;
	// .choose__container
	&__container {
	}
	// .choose__top
	&__top {
		margin-bottom: 64px;
	}
	&__main {
		margin-bottom: 93px;
	}
	// .choose__title
	&__title {
		margin-bottom: 15px;
		font-weight: 700;
		font-size: 18px;
		line-height: lh(21, 18);
		text-transform: uppercase;
		color: #000000;
	}
	// .choose__slider-wrapper
	&__slider-wrapper {
		margin-right: calc((100vw - 100%) / -2);
		margin-left: calc((100vw - 100%) / -2);
		margin-bottom: 29px;
	}
	// .choose__slider
	&__slider {
		.swiper-slide {
			position: relative;
			padding-bottom: 16.4%;
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				font-family: "object-fit: cover; object-position: center;";
			}
		}
	}
	// .choose__bot
	&__bot {
	}
	// .choose__subtitle
	&__subtitle {
		margin-bottom: 70px;
		font-size: 16px;
		line-height: lh(18, 16);
		color: #616161;
	}
	// .choose__logos
	&__logos {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(120px, 181px));
		grid-column-gap: 20px;
		grid-row-gap: 20px;
		li {
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				max-height: 76px;
			}
		}
	}
}

.swiper-wrapper {
}
.swiper-slide {
}
