.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	// .header__container
	&__container {
	}
	// .header__flex
	&__flex {
		padding: 8px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .header__logo
	&__logo {
		margin-right: 35px;
		img {
			max-width: 113px;
			max-height: 62px;
			@media (max-width: 425px) {
				max-width: 96px;
				max-height: 53px;
			}
		}
	}
	// .header__text
	&__text {
		max-width: 120px;
		margin-right: 40px;
		line-height: lh(19, 16);
		color: #fff;
		text-transform: uppercase;
		@media (max-width: 670px) {
			font-size: 14px;
			max-width: 105px;
		}
		@media (max-width: 608px) {
			margin-right: 0;
		}
		@media (max-width: 425px) {
			display: none;
		}
	}
	// .header__tels
	&__tels {
		margin-right: 35px;
		@media (max-width: 840px) {
			margin-right: 0;
		}
		@media (max-width: 608px) {
			display: none;
		}
		li {
			a {
				font-weight: 700;
				line-height: lh(19, 16);
				color: #fff;
				@media (max-width: 670px) {
					font-size: 14px;
				}
			}
		}
	}
	// .header__modal
	&__modal {
		margin-right: 35px;
		font-size: 14px;
		line-height: lh(16, 14);
		text-transform: uppercase;
		color: #a82420;
		cursor: pointer;
		@media (max-width: 1150px) {
			display: none;
		}
	}
	// .header__mail
	&__mail {
		margin-right: 35px;
		line-height: lh(19, 16);
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;

		@media (max-width: 960px) {
			margin-right: 0;
		}
		@media (max-width: 840px) {
			display: none;
		}
	}
	// .header__socials
	&__socials {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		max-width: 128px;
		margin-left: -8px;
		margin-right: -8px;
		a {
			margin: 4px 8px 4px 8px;
			img {
				max-width: 19px;
				max-height: 22px;
				filter: brightness(0) invert(1);
				transition: 0.3s;
				&:hover {
					filter: none;
				}
			}
		}
		@media (max-width: 960px) {
			display: none;
		}
	}
	&__menu {
		margin-left: 35px;
	}
}
